package: uba-agent-unix
Version: 1.0
Architecture: all
Priority: optional
Section: admin
Installed-Size: 260
Maintainer: ÁRTICA ST <info@artica.es>
Homepage: http://pandorafms.org/
Depends: coreutils, perl, unzip
Description: UBA sensor 
